@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

*{
	margin: 0;
	padding: 0; 
	/* TO REMOVE FROM BROWSER BUT NOT CSS*/
}

body {
	background-color: #f7f7f7; 
	max-width: 100%; 
	font-family: 'Cutive Mono', monospace;
	text-align: center; 
}

h1 {
	border-bottom: 3px solid #fccccc; 
	border-bottom-style: double; 
	width: 600px;
	margin: 40px auto; 
	text-align: center; 
	padding: 30px; 
}

h2 {
	margin: 40px auto; 
	text-align: center; 
	padding: none;
	color: #f9ca2c;
	font-size: 20px;
	font-style: italic;
}

h2 a{
	color: red;
	text-decoration: none;
}

h2 a:hover{
	color:#f7f7f7
	font-style:none;
}

h3 {
	color: red; 
}

#logo {

}

.video {
	margin-top:40px;
}


#sketchB { 
	border; none;  
	width: 100vw; 
	height: 50vh;
}

/*.colorchange {
	color: #ffe74f; 
}*/


ul {
	background-color: #d8d8d8;
	margin-top: 50px; 
	margin-bottom: 50px; 
	font-size: 18px;
	width: 100%;
	height: 70px;   
	line-height: 70px; 

}

ul li {
	float: left;
	list-style-type: none; 
	padding-right: 100px; 
	padding-left: 100px;
	background-size: : 10px; 
	text-align: center;

}

ul li a {
	color: red;
	text-decoration: none; 
}

ul li a:hover {
	color:#f7f7f7;
	font-weight: bold; 

}

ul li i:hover {
	color:#f7f7f7;
	font-weight: bold; 

}

ul img {
	padding-left: 650px;
	height: 30px;
	width: 30px;
}

ul img:hover {
	color: #f7f7f7;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: red;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

ul li div a:hover, .dropdown:hover .dropbtn {
    background-color: #d8d8d8;
    color: white;
    padding-left: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: none;
    font-size: 12px;
}

.dropdown-content a {
    float: none;
    color: red;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#pagecollage h2 a:hover {
	color:#f7f7f7;
}	

/*#pagecollage {
	padding-right: 400px;
	padding-left: 400px;
}*/

#pageglitch h2 a {
	color
}

/*#pageglitch {
	padding-right: 400px;
	padding-left: 400px;
}*/

#pagevideo {
	padding-right: 400px;
	padding-left: 400px;
}

#pagesound {
	padding-right: 400px;
	padding-left: 400px;
}




