body img {
  padding-top: 30px;
   background-size:contain;
   /*background-position: center center;
   background-attachment: fixed;*/
   background-repeat:no-repeat;
   width: 100%;
   height: auto;
}

div{
    display: none;
    border:none;
    height:0px;
    width:100%;
    margin-left:10px;
    text-align: center;
    font-size: 20px;
}

area:hover + div {
    display: block;
}​

body img{
  background-image: url(images/cell.jpg);
  background-repeat: repeat;
}

/*div{
  text-decoration: none;
  color: transparent;
}

div:hover{
    color: black;
}*/



