body img {
   background-image:url(images/flowers.jpg);
   background-size:contain;
   /*background-position: center center;
   background-attachment: fixed;*/
   background-repeat:no-repeat;
   width: 100%;
   height: auto;
}